.container {
  background-color: rgba(243, 228, 225, 1);
}

.menu-container {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(243, 228, 225, 1);
}

.content {
  width: 400px;
  margin-bottom: 20px;
  padding: 50px;
}
.title {
  font-family: PT Serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
}

.header img,
.footer img {
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.menu-item-title {
  font-weight: bold;
  margin-right: 10px;
}

.menu-item-desc {
  font-size: 12px;
  margin-top: 5px;
}
