.container {
  background-color: rgba(243, 228, 225, 1);
  min-height: calc(100vh - (headerHeight + footerHeight));
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.title {
  font-family: PT Serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  border: none;
  padding: 0;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-right: 25px;
}
.add-btn .menu-item-title {
  font-weight: bold;
  margin-right: 15px;
}

.menu-item-desc {
  font-size: 12px;
  margin-top: 5px;
}
