.container {
  background-color: rgba(243, 228, 225, 1);
  min-height: calc(
    100vh - (headerHeight + footerHeight)
  ); /* Calculate remaining height between header and footer */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.content {
  max-width: 800px; /* Increase max-width for better responsiveness */
  margin: 0 auto; /* Center the content horizontally */
  padding: 50px;
}

.title {
  font-family: PT Serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.menu-item-title {
  font-weight: bold;
  margin-right: 10px;
}

.menu-item-desc {
  font-size: 12px;
  margin-top: 5px;
}
